[workspace]
resolver = "2"
members = [
    "crates/rbp",
    "crates/rbp-core",
    "crates/rbp-cards",
    "crates/rbp-transport",
    "crates/rbp-mccfr",
    "crates/rbp-gameplay",
    "crates/rbp-clustering",
    "crates/rbp-nlhe",
    "crates/rbp-dto",
    "crates/rbp-pg",
    "crates/rbp-database",
    "crates/rbp-auth",
    "crates/rbp-records",
    "crates/rbp-workers",
    "crates/rbp-gameroom",
    "crates/rbp-players",
    "crates/rbp-analysis",
    "crates/rbp-hosting",
    "crates/rbp-autotrain",
    "crates/rbp-server",
]

[workspace.package]
edition = "2024"
rust-version = "1.90"
license = "MIT"
repository = "https://github.com/krukah/robopoker"
homepage = "https://robopoker.club"

[workspace.lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ["cfg(tarpaulin_include)"] }

[profile.dev]
panic = "unwind"
opt-level = 3

[profile.release]
lto = true
panic = "abort"
opt-level = 3
codegen-units = 1
strip = "debuginfo"
