[package]
name        = "robopoker"
version     = "0.1.1"
authors     = ["Kelechi Ukah <ukahkelechi@gmail.com>"]
description = "Implementations of No-Limit Texas Hold-Em solution."
homepage    = "https://github.com/krukah/robopoker"
repository  = "https://github.com/krukah/robopoker"
readme      = "README.md"
keywords    = ["poker", "cards", "cfr", "mcts", "holdem"]
license     = "MIT"
edition     = "2021"

[dependencies]
petgraph          = "0.6.5"
bytes             = "1.0"
log               = "0.4.22"
byteorder         = "1.5.0"
futures           = "0.3"
serde_json        = "1.0"
rand              = {                   version = "0.9.1",   features = ["small_rng"]  }
getrandom         = {                   version = "0.3.3",   features = ["wasm_js"]    }
colored           = { optional = true,  version = "2.0"                                }
dialoguer         = { optional = true,  version = "0.11.0"                             }
num_cpus          = { optional = true,  version = "1.16.0"                             }
rayon             = { optional = true,  version = "1.10.0"                             }
indicatif         = { optional = true,  version = "0.17.8", features = ["rayon"]       }
simplelog         = { optional = true,  version = "0.12.2"                             }
tokio             = { optional = true,  version = "1.0",     features = ["full"]       }
tokio-postgres    = { optional = true,  version = "0.7"                                }
clap              = { optional = true,  version = "4.0",     features = ["derive"]     }
actix-web         = { optional = true,  version = "4.4"                                }
actix-cors        = { optional = true,  version = "0.6"                                }
serde             = { optional = true,  version = "1.0",     features = ["derive"]     }
env_logger        = { optional = true,  version = "0.11.6"                                                                  }
js-sys            = "0.3"
wasm-bindgen      = "0.2"
wasm-bindgen-futures = "0.4"
console_error_panic_hook = "0.1.7"

[lib]
crate-type = ["cdylib", "rlib"]

[dev-dependencies]
criterion         = { version = "0.3", features = ["html_reports"] }
wasm-bindgen-test = "0.3"

[[bench]]
name = "benchmarks"
harness = false

[features]

# Sushi
default = ["native"]

# Run Anywhere features
core = []
wasm = []

# Run On Big Machine features
native = [
    "clap",
    "core",
    "colored",
    "dialoguer",
    "env_logger",
    "indicatif",
    "num_cpus",
    "rayon",
    "simplelog",
    "tokio",
    "tokio-postgres",
    "serde",
    "actix-web",
    "actix-cors"
]

# Task-specific features
cluster  = ["native"]
trainer  = ["native"]
publish  = ["native"]
analyze  = ["native"]

# Optional game variants
shortdeck = []
